@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --owl-blue: #5adbff;
  --owl-green: #00c9a7;
  --owl-pink: #ff66d8;
  --owl-purple: #5465ff;
  --owl-yellow: #fde12d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-owl-blue: var(--owl-blue);
  --color-owl-green: var(--owl-green);
  --color-owl-pink: var(--owl-pink);
  --color-owl-purple: var(--owl-purple);
  --color-owl-yellow: var(--owl-yellow);
  --font-rubik: var(--font-rubik);
  --font-heading: "novecento-sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik), sans-serif;
  font-weight: 400;
}

/* Novecento Sans available globally via: font-family: "novecento-sans", sans-serif; */

/* Global heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: lowercase;
  font-family: var(--font-heading);
  font-weight: 700;
}
